In [71]:
import pandas as pd
import numpy as np

In [72]:
rangeTimes = pd.read_csv('./data/rangeTimes.txt', sep='\t')
rangeTimes['fullName'] = rangeTimes['Given Name'] + ' ' + rangeTimes['Family\xa0Name']
rangeTimes.head()

,No,Family Name,Given Name,Nation,Races,World Cup\nRank,Rank\n(avg),Prone\nTime\n(in sec),Standing\nTime\n(in sec),Range\nTime avg\n(in sec),back from\nmedian\n(in %),Z-score,fullName
0,1,Stroemsheim,Endre,NOR,3,NaN,3.3,46.6,40.3,43.4,-13.54,-2.53,Endre Stroemsheim
1,2,Pidruchnyi,Dmytro,UKR,2,NaN,13.5,48.1,44.9,46.5,-5.83,-1.81,Dmytro Pidruchnyi
2,3,Dovzan,Miha,SLO,10,41.0,6.6,49.3,44.2,46.7,-10.20,-1.75,Miha Dovzan
3,4,Lapshin,Timofei,KOR,13,27.0,9.2,47.0,46.8,46.9,-8.41,-1.71,Timofei Lapshin
4,5,Giacomel,Tommaso,ITA,17,14.0,6.7,51.6,42.4,47.0,-9.29,-1.68,Tommaso Giacomel

In [73]:
shooting = pd.read_csv('./data/shooting.txt', sep='\t')
shooting['fullName'] = shooting['Given Name'] + ' ' + shooting['Family\xa0Name']
shooting['averageErrors'] = (1 - np.array(shooting['Total\nhit rate\n(in %)']/100)) * 5
shooting.head()

,No,Family Name,Given Name,Nation,Races,World Cup\nRank,Prone\nhits,Prone\nshots,Prone\nhit rate\n(in %),Standing\nhits,Standing\nshots,Standing\nhit rate\n(in %),Total\nhits,Total\nshots,Total\nhit rate\n(in %),back from\naverage\n(in %),back from\nmedian\n(in %),Z-score,fullName,averageErrors
0,1,Tyshchenko,Artem,UKR,5,63.0,40,40,100.00,36,40,90.00,76,80,95.00,-14.72,-14.56,-1.65,Artem Tyshchenko,0.2500
1,2,Romanov,Nikita,LTU,1,NaN,10,10,100.00,9,10,90.00,19,20,95.00,-13.11,-11.76,-1.65,Nikita Romanov,0.2500
2,3,Laegreid,Sturla Holm,NOR,17,2.0,138,140,98.57,124,140,88.57,262,280,93.57,-13.96,-13.28,-1.50,Sturla Holm Laegreid,0.3215
3,4,Pidruchnyi,Dmytro,UKR,2,NaN,15,15,100.00,13,15,86.67,28,30,93.33,-21.86,-18.75,-1.48,Dmytro Pidruchnyi,0.3335
4,5,Hartweg,Niklas,SUI,15,12.0,115,120,95.83,107,120,89.17,222,240,92.50,-12.39,-11.79,-1.39,Niklas Hartweg,0.3750

In [74]:
skiing = pd.read_csv('./data/skiing.txt', sep='\t')
skiing['fullName'] = skiing['Given Name'] + ' ' + skiing['Family\xa0Name']
skiing.head()

,No,Family Name,Given Name,Nation,Races,World Cup\nRank,Ski Rank\n(avg),back from\nmedian\n(in %),back from\nTop10 median\n(in %),back from\nTop30 median\n(in %),back from\naverage\n(in %),back from\nTop10 average\n(in %),back from\nTop30 average\n(in %),Speed\n(in km/h),Z-score,fullName
0,1,Boe,Johannes Thingnes,NOR,17,1.0,3.0,-6.36,-2.11,-3.81,-6.57,-1.88,-3.63,26.89,-1.95,Johannes Thingnes Boe
1,2,Stroemsheim,Endre,NOR,3,NaN,12.0,-4.24,1.48,-0.66,-4.60,1.71,-0.39,24.69,-1.46,Endre Stroemsheim
2,3,Laegreid,Sturla Holm,NOR,17,2.0,7.1,-4.14,0.23,-1.51,-4.35,0.46,-1.33,26.26,-1.43,Sturla Holm Laegreid
3,4,Christiansen,Vetle Sjaastad,NOR,17,3.0,8.4,-4.13,0.25,-1.49,-4.34,0.48,-1.31,26.27,-1.43,Vetle Sjaastad Christiansen
4,5,Ponsiluoma,Martin,SWE,17,5.0,7.9,-4.12,0.24,-1.50,-4.33,0.48,-1.31,26.25,-1.43,Martin Ponsiluoma

In [75]:
skiing['back from\naverage\n(in %)'] = skiing['back from\naverage\n(in %)'] - np.min(skiing['back from\naverage\n(in %)'])
skiing.head()

,No,Family Name,Given Name,Nation,Races,World Cup\nRank,Ski Rank\n(avg),back from\nmedian\n(in %),back from\nTop10 median\n(in %),back from\nTop30 median\n(in %),back from\naverage\n(in %),back from\nTop10 average\n(in %),back from\nTop30 average\n(in %),Speed\n(in km/h),Z-score,fullName
0,1,Boe,Johannes Thingnes,NOR,17,1.0,3.0,-6.36,-2.11,-3.81,0.00,-1.88,-3.63,26.89,-1.95,Johannes Thingnes Boe
1,2,Stroemsheim,Endre,NOR,3,NaN,12.0,-4.24,1.48,-0.66,1.97,1.71,-0.39,24.69,-1.46,Endre Stroemsheim
2,3,Laegreid,Sturla Holm,NOR,17,2.0,7.1,-4.14,0.23,-1.51,2.22,0.46,-1.33,26.26,-1.43,Sturla Holm Laegreid
3,4,Christiansen,Vetle Sjaastad,NOR,17,3.0,8.4,-4.13,0.25,-1.49,2.23,0.48,-1.31,26.27,-1.43,Vetle Sjaastad Christiansen
4,5,Ponsiluoma,Martin,SWE,17,5.0,7.9,-4.12,0.24,-1.50,2.24,0.48,-1.31,26.25,-1.43,Martin Ponsiluoma

In [76]:
jtbPenaltyLoop = 20.8
skiing['averagePenaltyLoop'] = jtbPenaltyLoop + (skiing['back from\naverage\n(in %)']/100) * jtbPenaltyLoop
skiing.head()

,No,Family Name,Given Name,Nation,Races,World Cup\nRank,Ski Rank\n(avg),back from\nmedian\n(in %),back from\nTop10 median\n(in %),back from\nTop30 median\n(in %),back from\naverage\n(in %),back from\nTop10 average\n(in %),back from\nTop30 average\n(in %),Speed\n(in km/h),Z-score,fullName,averagePenaltyLoop
0,1,Boe,Johannes Thingnes,NOR,17,1.0,3.0,-6.36,-2.11,-3.81,0.00,-1.88,-3.63,26.89,-1.95,Johannes Thingnes Boe,20.80000
1,2,Stroemsheim,Endre,NOR,3,NaN,12.0,-4.24,1.48,-0.66,1.97,1.71,-0.39,24.69,-1.46,Endre Stroemsheim,21.20976
2,3,Laegreid,Sturla Holm,NOR,17,2.0,7.1,-4.14,0.23,-1.51,2.22,0.46,-1.33,26.26,-1.43,Sturla Holm Laegreid,21.26176
3,4,Christiansen,Vetle Sjaastad,NOR,17,3.0,8.4,-4.13,0.25,-1.49,2.23,0.48,-1.31,26.27,-1.43,Vetle Sjaastad Christiansen,21.26384
4,5,Ponsiluoma,Martin,SWE,17,5.0,7.9,-4.12,0.24,-1.50,2.24,0.48,-1.31,26.25,-1.43,Martin Ponsiluoma,21.26592

In [77]:
firstMerge = pd.merge(rangeTimes, shooting, on='fullName')

secondMerge = pd.merge(firstMerge, skiing, on='fullName')
secondMerge = secondMerge.sort_values(by='fullName')
secondMerge = secondMerge.reset_index(drop=True)
secondMerge = secondMerge[['fullName', 'averageErrors', 'averagePenaltyLoop', 'Range\nTime avg\n(in sec)', 'Races', 'Total\nhit rate\n(in %)']]
secondMerge = secondMerge[secondMerge['Races'] > 6]
secondMerge = secondMerge.reset_index(drop=True)
secondMerge.head()

,fullName,averageErrors,averagePenaltyLoop,Range\nTime avg\n(in sec),Races,Total\nhit rate\n(in %)
0,Adam Runnalls,1.0000,22.34336,47.7,11,80.00
1,Alex Cisar,0.4545,22.41616,50.3,14,90.91
2,Alexandr Mukhin,0.8180,22.21856,53.8,7,83.64
3,Andrejs Rastorgujevs,0.9735,21.70272,50.4,12,80.53
4,Anton Dudchenko,0.6580,22.02304,49.8,12,86.84

In [78]:
secondMerge['timeTotal'] = (secondMerge['averagePenaltyLoop'] * secondMerge['averageErrors']) + secondMerge['Range\nTime avg\n(in sec)']
secondMerge = secondMerge.sort_values(by='timeTotal')
secondMerge = secondMerge.reset_index(drop=True)
secondMerge['Efficiency'] = (100 - np.array(secondMerge['timeTotal'])) / np.max(100 - np.array(secondMerge['timeTotal']))
secondMerge

,fullName,averageErrors,averagePenaltyLoop,Range\nTime avg\n(in sec),Races,Total\nhit rate\n(in %),timeTotal,Efficiency
0,Sturla Holm Laegreid,0.3215,21.26176,47.4,17,93.57,54.235656,1.000000
1,Niklas Hartweg,0.3750,21.74016,47.9,15,92.50,56.052560,0.960299
2,Simon Eder,0.4285,22.13744,48.9,13,91.43,58.385893,0.909313
3,Johannes Thingnes Boe,0.5180,20.80000,48.6,17,89.64,59.374400,0.887713
4,Sebastian Stalder,0.4230,21.98144,50.5,16,91.54,59.798149,0.878454
5,Alex Cisar,0.4545,22.41616,50.3,14,90.91,60.488145,0.863376
6,Miha Dovzan,0.6250,22.41824,46.7,10,87.50,60.711400,0.858498
7,Justus Strelow,0.5355,22.05008,49.0,17,89.29,60.807818,0.856391
8,Quentin Fillon Maillet,0.6430,21.43232,48.3,17,87.14,62.080982,0.828571
9,Patrick Braunhofer,0.5415,22.65328,49.9,8,89.17,62.166751,0.826697
10,Felix Leitner,0.5310,22.17488,51.8,10,89.38,63.574861,0.795928
11,Roman Rees,0.5535,21.58208,51.7,17,88.93,63.645681,0.794381
12,Jakov Fak,0.6040,21.83168,50.6,15,87.92,63.786335,0.791307
13,Anton Dudchenko,0.6580,22.02304,49.8,12,86.84,64.291160,0.780276
14,Timofei Lapshin,0.8095,22.13952,46.9,13,83.81,64.821941,0.768678
15,Tarjei Boe,0.6430,21.35536,51.3,17,87.14,65.031496,0.764099
16,Florent Claude,0.5190,21.93984,53.9,16,89.62,65.286777,0.758521
17,Bogdan Tsymbal,0.6315,22.49520,51.5,12,87.37,65.705719,0.749367
18,Sebastian Samuelsson,0.6605,21.43856,51.7,17,86.79,65.860169,0.745992
19,Vetle Sjaastad Christiansen,0.6785,21.26384,51.5,17,86.43,65.927515,0.744520
20,David Komatz,0.5210,22.38704,54.5,15,89.58,66.163648,0.739361
21,Tomas Mikyska,0.6175,22.23936,52.5,11,87.65,66.232805,0.737849
22,Vytautas Strolia,0.7115,21.83584,51.6,17,85.77,67.136200,0.718109
23,Michal Krcmar,0.6785,21.61744,53.1,17,86.43,67.767433,0.704316
24,Christian Gow,0.9285,22.41408,47.3,9,81.43,68.111473,0.696799
25,Taras Lesiuk,0.6250,22.58256,54.0,8,87.50,68.114100,0.696741
26,Benedikt Doll,0.8215,21.32000,50.7,17,83.57,68.214380,0.694550
27,Olli Hiidensalo,0.7855,22.00848,51.1,17,84.29,68.387661,0.690764
28,David Zobel,0.7115,22.05632,52.7,16,85.77,68.393072,0.690645
29,Tommaso Giacomel,1.0000,21.49888,47.0,17,80.00,68.498880,0.688333
30,Fabien Claude,0.8750,21.39072,50.0,17,82.50,68.716880,0.683570
31,Paul Schommer,0.8420,22.26432,50.0,12,83.16,68.746557,0.682921
32,Artem Pryma,0.8335,22.13328,50.3,10,83.33,68.748089,0.682888
33,Adam Runnalls,1.0000,22.34336,47.7,11,80.00,70.043360,0.654585
34,Johannes Dale,0.8750,21.36992,52.2,17,82.50,70.898680,0.635895
35,Filip Fjeld Andersen,0.8695,21.68192,52.2,14,82.61,71.052429,0.632535
36,Campbell Wright,0.9500,22.16240,50.1,13,81.00,71.154280,0.630310
37,Andrejs Rastorgujevs,0.9735,21.70272,50.4,12,80.53,71.527598,0.622153
38,Tuomas Harjula,0.9000,22.23936,51.9,13,82.00,71.915424,0.613678
39,Didier Bionaz,0.8335,22.00432,53.6,12,83.33,71.940601,0.613128
40,Alexandr Mukhin,0.8180,22.21856,53.8,7,83.64,71.974782,0.612381
41,Emilien Jacquelin,1.0455,21.44480,49.7,14,79.09,72.120538,0.609196
42,Joscha Burkhalter,0.9545,22.22480,51.3,8,80.91,72.513572,0.600608
43,Rene Zahkna,0.8250,22.55552,54.0,13,83.50,72.608304,0.598538
44,Antonin Guigonnat,0.9820,21.61744,51.8,17,80.36,73.028326,0.589360
45,Sean Doherty,1.0000,22.12080,51.3,13,80.00,73.420800,0.580784
46,Johannes Kuehn,1.0415,21.52176,51.6,15,79.17,74.014913,0.567802
47,Eric Perrot,1.0000,21.79008,53.1,9,80.00,74.890080,0.548679
48,Harald Lemmerer,1.0265,22.59088,53.6,12,79.47,76.789538,0.507173

In [79]:
secondMerge[['fullName', 'Efficiency']][:10].to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>fullName</th>\n      <th>Efficiency</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Sturla Holm Laegreid</td>\n      <td>1.000000</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Niklas Hartweg</td>\n      <td>0.960299</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Simon Eder</td>\n      <td>0.909313</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Johannes Thingnes Boe</td>\n      <td>0.887713</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Sebastian Stalder</td>\n      <td>0.878454</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Alex Cisar</td>\n      <td>0.863376</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Miha Dovzan</td>\n      <td>0.858498</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>Justus Strelow</td>\n      <td>0.856391</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Quentin Fillon Maillet</td>\n      <td>0.828571</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>Patrick Braunhofer</td>\n      <td>0.826697</td>\n    </tr>\n  </tbody>\n</table>'

In [80]:
rangeTimes = pd.read_csv('./data/rangeTimesWomen.txt', sep='\t')
rangeTimes['fullName'] = rangeTimes['Given Name'] + ' ' + rangeTimes['Family\xa0Name']
rangeTimes.head()

,No,Family Name,Given Name,Nation,Races,World Cup\nRank,Rank\n(avg),Prone\nTime\n(in sec),Standing\nTime\n(in sec),Range\nTime avg\n(in sec),back from\nmedian\n(in %),Z-score,fullName
0,1,Merkushyna,Oleksandra,UKR,2,NaN,2.5,47.6,46.3,47.0,-15.32,-2.10,Oleksandra Merkushyna
1,2,Roeiseland,Marte Olsbu,NOR,7,25.0,6.4,49.2,45.3,47.2,-9.61,-2.04,Marte Olsbu Roeiseland
2,3,Passler,Rebecca,ITA,12,47.0,2.9,50.9,46.0,48.4,-12.72,-1.79,Rebecca Passler
3,4,Simon,Julia,FRA,17,1.0,6.2,51.6,45.8,48.7,-10.17,-1.74,Julia Simon
4,5,Wierer,Dorothea,ITA,17,4.0,5.9,49.8,49.1,49.4,-9.63,-1.58,Dorothea Wierer

In [81]:
shooting = pd.read_csv('./data/shootingWomen.txt', sep='\t')
shooting['fullName'] = shooting['Given Name'] + ' ' + shooting['Family\xa0Name']
shooting['averageErrors'] = (1 - np.array(shooting['Total\nhit rate\n(in %)']/100)) * 5
shooting.head()

,No,Family Name,Given Name,Nation,Races,World Cup\nRank,Prone\nhits,Prone\nshots,Prone\nhit rate\n(in %),Standing\nhits,Standing\nshots,Standing\nhit rate\n(in %),Total\nhits,Total\nshots,Total\nhit rate\n(in %),back from\naverage\n(in %),back from\nmedian\n(in %),Z-score,fullName,averageErrors
0,1,Merkushyna,Oleksandra,UKR,2,NaN,10,10,100.00,9,10,90.00,19,20,95.00,-17.00,-18.75,-1.61,Oleksandra Merkushyna,0.2500
1,2,Steiner,Tamara,AUT,8,48.0,64,65,98.46,57,65,87.69,121,130,93.08,-10.20,-7.88,-1.40,Tamara Steiner,0.3460
2,3,Zdouc,Dunja,AUT,15,34.0,112,120,93.33,109,120,90.83,221,240,92.08,-11.83,-10.61,-1.29,Dunja Zdouc,0.3960
3,4,Baserga,Amy,SUI,9,37.0,69,75,92.00,69,75,92.00,138,150,92.00,-11.75,-9.91,-1.28,Amy Baserga,0.4000
4,5,Merkushyna,Anastasiya,UKR,10,60.0,68,75,90.67,69,75,92.00,137,150,91.33,-9.09,-8.12,-1.21,Anastasiya Merkushyna,0.4335

In [82]:
skiing = pd.read_csv('./data/skiingWomen.txt', sep='\t')
skiing['fullName'] = skiing['Given Name'] + ' ' + skiing['Family\xa0Name']
skiing.head()

,No,Family Name,Given Name,Nation,Races,World Cup\nRank,Ski Rank\n(avg),back from\nmedian\n(in %),back from\nTop10 median\n(in %),back from\nTop30 median\n(in %),back from\naverage\n(in %),back from\nTop10 average\n(in %),back from\nTop30 average\n(in %),Speed\n(in km/h),Z-score,fullName
0,1,Lampic,Anamarija,SLO,5,39.0,6.4,-5.98,-1.00,-2.49,-6.60,-0.68,-2.33,22.98,-1.87,Anamarija Lampic
1,2,Herrmann-Wick,Denise,GER,16,5.0,3.9,-5.09,-0.70,-2.26,-5.58,-0.50,-2.15,23.00,-1.66,Denise Herrmann-Wick
2,3,Oeberg,Elvira,SWE,14,2.0,5.1,-5.03,-0.71,-2.22,-5.50,-0.47,-2.12,23.20,-1.64,Elvira Oeberg
3,4,Simon,Julia,FRA,17,1.0,6.3,-4.53,-0.28,-1.85,-5.04,-0.08,-1.79,23.02,-1.52,Julia Simon
4,5,Vittozzi,Lisa,ITA,15,3.0,8.8,-4.14,0.25,-1.34,-4.66,0.47,-1.28,23.03,-1.43,Lisa Vittozzi

In [83]:
skiing['back from\naverage\n(in %)'] = skiing['back from\naverage\n(in %)'] - np.min(skiing['back from\naverage\n(in %)'])
skiing.head()

,No,Family Name,Given Name,Nation,Races,World Cup\nRank,Ski Rank\n(avg),back from\nmedian\n(in %),back from\nTop10 median\n(in %),back from\nTop30 median\n(in %),back from\naverage\n(in %),back from\nTop10 average\n(in %),back from\nTop30 average\n(in %),Speed\n(in km/h),Z-score,fullName
0,1,Lampic,Anamarija,SLO,5,39.0,6.4,-5.98,-1.00,-2.49,0.00,-0.68,-2.33,22.98,-1.87,Anamarija Lampic
1,2,Herrmann-Wick,Denise,GER,16,5.0,3.9,-5.09,-0.70,-2.26,1.02,-0.50,-2.15,23.00,-1.66,Denise Herrmann-Wick
2,3,Oeberg,Elvira,SWE,14,2.0,5.1,-5.03,-0.71,-2.22,1.10,-0.47,-2.12,23.20,-1.64,Elvira Oeberg
3,4,Simon,Julia,FRA,17,1.0,6.3,-4.53,-0.28,-1.85,1.56,-0.08,-1.79,23.02,-1.52,Julia Simon
4,5,Vittozzi,Lisa,ITA,15,3.0,8.8,-4.14,0.25,-1.34,1.94,0.47,-1.28,23.03,-1.43,Lisa Vittozzi

In [84]:
ALPenaltyLoop = 22.6
skiing['averagePenaltyLoop'] = ALPenaltyLoop + (skiing['back from\naverage\n(in %)']/100) * ALPenaltyLoop
skiing.head()

,No,Family Name,Given Name,Nation,Races,World Cup\nRank,Ski Rank\n(avg),back from\nmedian\n(in %),back from\nTop10 median\n(in %),back from\nTop30 median\n(in %),back from\naverage\n(in %),back from\nTop10 average\n(in %),back from\nTop30 average\n(in %),Speed\n(in km/h),Z-score,fullName,averagePenaltyLoop
0,1,Lampic,Anamarija,SLO,5,39.0,6.4,-5.98,-1.00,-2.49,0.00,-0.68,-2.33,22.98,-1.87,Anamarija Lampic,22.60000
1,2,Herrmann-Wick,Denise,GER,16,5.0,3.9,-5.09,-0.70,-2.26,1.02,-0.50,-2.15,23.00,-1.66,Denise Herrmann-Wick,22.83052
2,3,Oeberg,Elvira,SWE,14,2.0,5.1,-5.03,-0.71,-2.22,1.10,-0.47,-2.12,23.20,-1.64,Elvira Oeberg,22.84860
3,4,Simon,Julia,FRA,17,1.0,6.3,-4.53,-0.28,-1.85,1.56,-0.08,-1.79,23.02,-1.52,Julia Simon,22.95256
4,5,Vittozzi,Lisa,ITA,15,3.0,8.8,-4.14,0.25,-1.34,1.94,0.47,-1.28,23.03,-1.43,Lisa Vittozzi,23.03844

In [85]:
firstMerge = pd.merge(rangeTimes, shooting, on='fullName')
secondMerge = pd.merge(firstMerge, skiing, on='fullName')
secondMerge = secondMerge.sort_values(by='fullName')
secondMerge = secondMerge.reset_index(drop=True)
secondMerge = secondMerge[['fullName', 'averageErrors', 'averagePenaltyLoop', 'Range\nTime avg\n(in sec)', 'Races', 'Total\nhit rate\n(in %)']]
secondMerge = secondMerge[secondMerge['Races'] > 5]
secondMerge = secondMerge.reset_index(drop=True)
secondMerge.head()

,fullName,averageErrors,averagePenaltyLoop,Range\nTime avg\n(in sec),Races,Total\nhit rate\n(in %)
0,Aita Gasparin,0.6345,24.01702,52.4,16,87.31
1,Amy Baserga,0.4000,24.04866,51.3,9,92.00
2,Anais Chevalier-Bouchet,0.7680,23.16274,51.7,17,84.64
3,Anastasiya Merkushyna,0.4335,24.62948,51.9,10,91.33
4,Anna Gandler,0.6175,23.83170,54.7,12,87.65

In [86]:
secondMerge['timeTotal'] = (secondMerge['averagePenaltyLoop'] * secondMerge['averageErrors']) + secondMerge['Range\nTime avg\n(in sec)']
secondMerge = secondMerge.sort_values(by='timeTotal')
secondMerge = secondMerge.reset_index(drop=True)
secondMerge['Efficiency'] = (100 - np.array(secondMerge['timeTotal'])) / np.max(100 - np.array(secondMerge['timeTotal']))
with pd.option_context('display.max_rows', 64,):
    print(secondMerge)

                      fullName  averageErrors  averagePenaltyLoop  \
0       Marte Olsbu Roeiseland         0.5000            23.09946
1                 Linn Persson         0.4425            23.44750
2                  Amy Baserga         0.4000            24.04866
3   Karoline Offigstad Knotten         0.4465            24.03962
4                  Dunja Zdouc         0.3960            24.48032
5                  Julia Simon         0.5895            22.95256
6        Anastasiya Merkushyna         0.4335            24.62948
7               Suvi Minkkinen         0.4810            24.31760
8                Elvira Oeberg         0.4545            22.84860
9                Mona Brorsson         0.5000            23.96730
10              Tamara Steiner         0.3460            24.51874
11               Lisa Vittozzi         0.5210            23.03844
12             Dorothea Wierer         0.6605            23.32320
13         Lisa Theresa Hauser         0.6430            23.47914
14            Marketa Davidova         0.6070            23.29382
15              Lou Jeanmonnot         0.4645            23.47010
16             Jessica Jislova         0.4735            24.27014
17                Hanna Oeberg         0.7400            23.09494
18               Aita Gasparin         0.6345            24.01702
19               Vanessa Voigt         0.4820            23.60796
20                   Lotte Lie         0.5525            24.25658
21              Anna Magnusson         0.6605            23.74356
22                Anna Gandler         0.6175            23.83170
23  Ingrid Landmark Tandrevold         0.6965            23.09494
24     Anais Chevalier-Bouchet         0.7680            23.16274
25               Yuliia Dzhima         0.7185            23.77294
26             Rebecca Passler         0.8890            24.28370
27         Janina Hettich-Walz         0.7500            23.62830
28              Samuela Comola         0.5835            23.96504
29         Hannah Auchentaller         0.7275            24.08256
30        Denise Herrmann-Wick         0.7310            22.83052
31                 Emma Lunder         0.8335            23.75712
32                 Anna Weidel         0.8055            23.99216
33   Emilie Aagheim Kalkenberg         0.7145            24.18878
34          Tereza Vobornikova         0.7895            24.10742
35            Franziska Preuss         0.7725            23.77972
36              Olena Bilosiuk         0.6540            24.75152
37                 Nadia Moser         0.8160            24.14584
38             Chloe Chevalier         0.7320            23.38874
39                 Susan Kuelm         0.7725            24.40800
40   Paulina Batovska Fialkova         0.8395            23.48366
41                 Erika Janka         0.6820            24.89390
42          Eliska Vaclavikova         0.7780            24.86678
43             Sophie Chauveau         0.8125            23.13110
44              Elisa Gasparin         1.0000            23.92662
45           Lena Haecki-Gross         1.0895            23.36162
46            Fuyuko Tachizaki         0.7500            23.92210
47                   Lea Meier         0.8930            24.08030
48              Venla Lehtonen         0.7500            24.96396
49            Caroline Colombo         0.9600            23.47236
50                   Anna Maka         0.8665            24.45320
51            Sophia Schneider         1.0190            23.36388
52              Joanna Jakiela         0.8890            24.18200
53                Deedra Irwin         0.9545            24.10516
54       Ragnhild Femsteinevik         1.0895            23.63960
55            Polona Klemencic         0.9120            23.54242
56                  Kamila Zuk         0.9545            24.00346
57        Ekaterina Avvakumova         0.9705            24.13228
58             Julia Schwaiger         0.9585            24.06222
59              Tuuli Tomingas         1.0000            23.66898
60                 Joanne Reid         1.0000            24.20460
61             Milena Todorova         1.1365            23.60570
62          Nastassia Kinnunen         1.0555            24.04188

    Range\nTime avg\n(in sec)  Races  Total\nhit rate\n(in %)  timeTotal  \
0                        47.2      7                    90.00  58.749730
1                        50.1     16                    91.15  60.475519
2                        51.3      9                    92.00  60.919464
3                        51.1     17                    91.07  61.833690
4                        52.3     15                    92.08  61.994207
5                        48.7     17                    88.21  62.230534
6                        51.9     10                    91.33  62.576880
7                        51.6     16                    90.38  63.296766
8                        53.4     14                    90.91  63.784689
9                        52.0      8                    90.00  63.983650
10                       55.8      8                    93.08  64.283484
11                       52.4     15                    89.58  64.403027
12                       49.4     17                    86.79  64.804974
13                       50.1     17                    87.14  65.197087
14                       51.6     17                    87.86  65.739349
15                       54.9     17                    90.71  65.801861
16                       54.6     12                    90.53  66.091911
17                       50.2     15                    85.20  67.290256
18                       52.4     16                    87.31  67.638799
19                       57.1     17                    90.36  68.479037
20                       55.2     12                    88.95  68.601760
21                       53.7     17                    86.79  69.382621
22                       54.7     12                    87.65  69.416075
23                       53.4     17                    86.07  69.485626
24                       51.7     17                    84.64  69.488984
25                       52.7     10                    85.63  69.780857
26                       48.4     12                    82.22  69.988209
27                       52.6     10                    85.00  70.321225
28                       56.6     15                    88.33  70.583601
29                       53.2      7                    85.45  70.720062
30                       54.2     16                    85.38  70.889110
31                       51.1     13                    83.33  70.901560
32                       51.7     11                    83.89  71.025685
33                       53.8      9                    85.71  71.082883
34                       52.9     12                    84.21  71.932808
35                       53.6      7                    84.55  71.969834
36                       55.9      9                    86.92  72.087494
37                       52.6     12                    83.68  72.303005
38                       55.4     17                    85.36  72.520558
39                       54.6     14                    84.55  73.455180
40                       54.1     17                    83.21  73.814533
41                       58.0      9                    86.36  74.977640
42                       55.8      7                    84.44  75.146355
43                       56.9     15                    83.75  75.694019
44                       52.4     17                    80.00  76.326620
45                       51.0     17                    78.21  76.452485
46                       59.6     14                    85.00  77.541575
47                       56.5      9                    82.14  78.003708
48                       59.4      9                    85.00  78.122970
49                       55.6     15                    80.80  78.133466
50                       57.7     10                    82.67  78.888698
51                       55.4     16                    79.62  79.207794
52                       57.8     13                    82.22  79.297798
53                       56.3     14                    80.91  79.308375
54                       53.7     17                    78.21  79.455344
55                       58.3     11                    81.76  79.770687
56                       57.6     14                    80.91  80.511303
57                       58.2     12                    80.59  81.620378
58                       58.7      8                    80.83  81.763638
59                       58.5     12                    80.00  82.168980
60                       58.4     10                    80.00  82.604600
61                       55.9     14                    77.27  82.727878
62                       58.4     12                    78.89  83.776204

    Efficiency
0     1.000000
1     0.958163
2     0.947401
3     0.925238
4     0.921347
5     0.915617
6     0.907221
7     0.889770
8     0.877941
9     0.873118
10    0.865849
11    0.862951
12    0.853207
13    0.843701
14    0.830556
15    0.829040
16    0.822009
17    0.792958
18    0.784509
19    0.764140
20    0.761164
21    0.742235
22    0.741424
23    0.739738
24    0.739656
25    0.732580
26    0.727554
27    0.719481
28    0.713120
29    0.709812
30    0.705714
31    0.705412
32    0.702403
33    0.701016
34    0.680412
35    0.679515
36    0.676662
37    0.671438
38    0.666164
39    0.643507
40    0.634795
41    0.606599
42    0.602509
43    0.589232
44    0.573896
45    0.570845
46    0.544443
47    0.533240
48    0.530349
49    0.530094
50    0.511786
51    0.504050
52    0.501868
53    0.501612
54    0.498049
55    0.490404
56    0.472450
57    0.445564
58    0.442091
59    0.432264
60    0.421704
61    0.418715
62    0.393302

In [87]:
secondMerge[0:10][['fullName', 'Efficiency']]

                     fullName  Efficiency
0      Marte Olsbu Roeiseland    1.000000
1                Linn Persson    0.958163
2                 Amy Baserga    0.947401
3  Karoline Offigstad Knotten    0.925238
4                 Dunja Zdouc    0.921347
5                 Julia Simon    0.915617
6       Anastasiya Merkushyna    0.907221
7              Suvi Minkkinen    0.889770
8               Elvira Oeberg    0.877941
9               Mona Brorsson    0.873118

In [89]:
secondMerge[0:15]

,fullName,averageErrors,averagePenaltyLoop,Range\nTime avg\n(in sec),Races,Total\nhit rate\n(in %),timeTotal,Efficiency
0,Marte Olsbu Roeiseland,0.5000,23.09946,47.2,7,90.00,58.749730,1.000000
1,Linn Persson,0.4425,23.44750,50.1,16,91.15,60.475519,0.958163
2,Amy Baserga,0.4000,24.04866,51.3,9,92.00,60.919464,0.947401
3,Karoline Offigstad Knotten,0.4465,24.03962,51.1,17,91.07,61.833690,0.925238
4,Dunja Zdouc,0.3960,24.48032,52.3,15,92.08,61.994207,0.921347
5,Julia Simon,0.5895,22.95256,48.7,17,88.21,62.230534,0.915617
6,Anastasiya Merkushyna,0.4335,24.62948,51.9,10,91.33,62.576880,0.907221
7,Suvi Minkkinen,0.4810,24.31760,51.6,16,90.38,63.296766,0.889770
8,Elvira Oeberg,0.4545,22.84860,53.4,14,90.91,63.784689,0.877941
9,Mona Brorsson,0.5000,23.96730,52.0,8,90.00,63.983650,0.873118
10,Tamara Steiner,0.3460,24.51874,55.8,8,93.08,64.283484,0.865849
11,Lisa Vittozzi,0.5210,23.03844,52.4,15,89.58,64.403027,0.862951
12,Dorothea Wierer,0.6605,23.32320,49.4,17,86.79,64.804974,0.853207
13,Lisa Theresa Hauser,0.6430,23.47914,50.1,17,87.14,65.197087,0.843701
14,Marketa Davidova,0.6070,23.29382,51.6,17,87.86,65.739349,0.830556